@import '../sass/mediaQueries.scss';

.footer {
  max-width: 120rem;
  width: 90%;
  font-size: 1.6rem;
  margin: 10rem auto 0;
  border-top: 1px solid rgba(0, 0, 0, 0.082);
  padding: 4.8rem 0;

  display: flex;
  justify-content: space-between;

  @include breakpoint(md) {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.footer p {
  color: #667085;
}
