.app {
  max-width: 1152px;
  width: 90%;
  margin: 64px auto 0;
}

/* profile section */
.profile-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 40% 40%;
}

#twitter {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

#slack {
  display: none;
}

.share-btn {
  position: absolute;
  top: -15%;
  right: 20%;
}

/* links */

.links {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link,
.link:link,
.link:visited {
  display: block;
  width: 100%;
  background: #eaecf0;
  text-align: center;
  padding: 24px 0;
  text-decoration: none;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  color: inherit;
  transition: all 300ms ease-in-out;
}

.link:hover {
  background: #d0d5dd;
}

/* socials */
.socials {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials > * {
  cursor: pointer;
}

/* footer */
.footer {
  max-width: 1200px;
  width: 90%;
  margin: 100px auto 0;
  border-top: 1px solid rgba(0, 0, 0, 0.082);
  padding: 48px 0;

  display: flex;
  justify-content: space-between;
}

.footer p {
  color: #667085;
}
